@font-face {
  font-family: 'Averta-italic';
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('../assets/fonts/webfonts/Averta/italic_normal_bold.woff2') format('woff2'), url('../assets/fonts/webfonts/Averta/italic_normal_bold.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-Regular';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../assets/fonts/webfonts/Averta/normal_normal_normal.woff2') format('woff2'), url('../assets/fonts/webfonts/Averta/normal_normal_normal.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-ExtraboldItalic';
  src: url('../assets/fonts/webfonts/AvertaPE-ExtraboldItalic/font.woff2') format('woff2'), url('../assets/fonts/webfonts/AvertaPE-ExtraboldItalic/font.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-Bold';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('../assets/fonts/webfonts/Averta/normal_normal_bold.woff2') format('woff2'), url('../assets/fonts/webfonts/Averta/normal_normal_bold.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-Extrabold';
  src: url('../assets/fonts/webfonts/AvertaPE-Extrabold/font.woff2') format('woff2'), url('../assets/fonts/webfonts/AvertaPE-Extrabold/font.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-SemiboldItalic';
  src: url('../assets/fonts/webfonts/AvertaPE-SemiboldItalic/font.woff2') format('woff2'), url('../assets/fonts/webfonts/AvertaPE-SemiboldItalic/font.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-SemiBold';
  src: url('../assets/fonts/webfonts/AvertaPE-Semibold/font.woff2') format('woff2'), url('../assets/fonts/webfonts/AvertaPE-Semibold/font.woff') format('woff');
}
@font-face {
  font-family: 'AvertaPE-Italic';
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('../assets/fonts/webfonts/Averta/italic_normal_normal.woff2') format('woff2'), url('../assets/fonts/webfonts/Averta/italic_normal_normal.woff') format('woff');
}



// #2B2826

._20px_2B2826 {
  font-family: "Averta";
  font-style: normal;
  font-weight: 800;
  color: #2B2826;
  font-size: 20px;
}

// #20123A

._13px_20123A_spacing05px {
  font-family: "Averta";
  letter-spacing: 0.5px;
  color: #2B2826;
  font-size: 13px;
}

._13px_20123A {
  font-family: "Averta";
  color: #2B2826;
  font-size: 13px;
}

._14px_20123A {
  font-family: "Averta";
  color: #2B2826;
  font-size: 14px;
}

._18px_20123A {
  font-family: "Averta";
  color: #20123A;
  font-size: 18px;
}

._20px_20123A {
  font-family: "Averta";
  color: #20123A;
  font-size: 20px;
}

._16px_20123A {
  font-family: "Averta";
  color: #2B2826;
  font-size: 16px;
}

._36px_20123A {
  font-family: "Averta";
  color: #2B2826;
  font-size: 36px;
}

// #5B5862

._15px_5B5862 {
  font-family: "Averta";
  font-style: normal;
  color: #5B5862;
  font-size: 15px;
}

._9px_5B5862 {
  font-size: 9px;
  font-family: "Averta";
  color: #5B5862;
}

._11px_5B5862{
  font-size: 11px;
  color: #5B5862;
  font-family: 'Averta';
}

._12px_5B5862{
  color: #5B5862;
  font-family: 'Averta';
  font-size: 12px;
}

._13px_5B5862{
  color: #5B5862;
  font-family: 'Averta';
  font-size: 13px;
}


._13px_5B5862_spacing05px {
   font-size: 13px;
   font-family: "Averta";
   letter-spacing: 0.5px;
   color: #5B5862;
}

._14px_5B5862{
  color: #5B5862;
  font-family: 'Averta';
  font-size: 14px;
}



._13px_0078FF {
  font-size: 13px;
  color: #0078FF;
  font-family: "Averta";
}

// #C0C0C0

._13px_C0C0C0 {
  color: #C0C0C0;
  font-size: 13px;
  font-family: "Averta";
}

// #9A989D
._13px_9A989D {
  color: #9A989D;
  font-size: 13px;
  font-family: "Averta";
}

._12px_9A989D {
  color: #9A989D;
  font-size: 12px;
  font-family: "Averta";
}


._11px_9A989D {
   color: #9A989D;
   font-size: 11px;
   font-family: "Averta";
}

// #CC3333

._11px_CC3333{
  color: #CC3333;
  font-family: "Averta";
  font-size: 11px;
  font-weight: bold;
}

._12px_CC3333{
  color: #CC3333;
  font-family: "Averta";
  font-size: 12px;
  font-weight: bold;
}

._14px_CC3333 {
  color: #CC3333;
  font-family: "Averta";
  font-size: 14px;
}

._16px_CC3333 {
  color: #CC3333;
  font-family: "Averta";
  font-size: 16px;
}


// #FF9933

._14px_FF9933{
  font-family: "Averta";
  font-size: 14px;
  color: #FF9933;
}

// #2BDA2D
._16px_2BDA2D {
  color: #2BDA2D;
  font-family: "Averta";
  font-size: 16px;
}


._16px_FFFFFF{
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Averta";
}

._20px_EFEFEF {
  color: #EFEFEF;
  font-size: 20px;
  font-family: 'Averta';
}

._9px_FFFFFF{
  color: #FFFFFF;
  font-size: 9px;
  font-family: "Averta";
}


